@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

/* *       - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
/* :after  - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Aafter*/
/* :before - https://developer.mozilla.org/en-US/docs/Web/CSS/%3A%3Abefore */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: white;
  background-attachment: fixed;
  line-height: 1.4;
}

body {
  height: 100%;
  font: 20px 'Gloock', Helvetica, Arial, sans-serif;
}

.main-container {
  margin: 0 auto;
}

.banner {
  background-color: #fefefe;
  padding-top: 1em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  overflow: auto;
}

/* MY CSS*/

.imgBox {
  width: 30%;
}

.logoBW {
  margin: 10px;
}

.nav-link,
.bookname {
  display: block;
  padding: 0.5rem 1rem;
  font: 28px 'Gloock', Helvetica, Arial, sans-serif;
  color: black;
  font-weight: 400;
  margin-bottom: 6px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link:hover {
  color: green;
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.05);
}

.book-item {
  padding-bottom: 4em;
  align-items: center;
}

.book-list {
  padding-top: 20px;
  padding-left: 20px;
  list-style-type: none;
  display: flex;
}

.container-entries {
  background-color: #fff;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  width: 46%;
}

.img-entries {
  padding-top: 20px;
  padding-left: 20px;
  width: 220px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 5px 0 0 5px;
}

.container__text {
  padding: 20px 40px 0;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

.container__text h1 {
  font: 20px 'Gloock', Helvetica, Arial, sans-serif;
  color: black;
  /* font-weight: 400; */
  margin-bottom: 6px;
}
/* .background-container {
  background-color: rgb(186, 199, 229);
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 8em;
  margin-bottom: 16em;
  color: #fefefe;
} */

.index-div {
  max-width: 1100px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.index-img {
  /* max-width: 1500px; */
  /* min-width: 50%; */
  position: absolute;
  background: linear-gradient(
    hsl(186, 76%, 16%),
    hsl(223, 90%, 60%),
    hsl(240, 56%, 42%)
  );
  box-shadow: 0 0 20px 0 blue;
}

.index-title {
  position: relative;
  font: 36px 'Poppins', Helvetica, Arial, sans-serif;
  color: white;
  top: 100px;
  text-shadow: 1px 1px black;
}

.index-info {
  padding-top: 20px;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font: 20px 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: black;
}

.main-container {
  max-width: 1100px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-controls {
  display: flex;
}

.control {
  display: flex;
  align-items: center;
}

.searchBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.input-search {
  height: 50px;
  flex: 1 0 auto;
  border: 1px solid black;
  border-radius: 6px;
  text-indent: 10px;
}

.input-search::placeholder {
  text-indent: 10px;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
  opacity: 0.7;
  color: black;
}

.button-search {
  width: 15%;
  height: 50px;
  background: linear-gradient(
    hsl(186, 76%, 16%),
    hsl(223, 90%, 60%),
    hsl(240, 56%, 42%)
  );
  box-shadow: 0 0 20px 0 blue;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
  color: white;
  padding: 6px;
  border: 1px solid black;
  border-radius: 6px;
}

.button-search:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.05);
}

.result-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 26px;
  margin-bottom: 26px;
}

.result-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  transition: 0.2s;
  background: linear-gradient(
    hsl(186, 76%, 16%),
    hsl(223, 90%, 60%),
    hsl(240, 56%, 42%)
  );
  box-shadow: 0 0 20px 0 blue;
}

.result-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.result-image {
  border: 1px solid black;
  width: 280px;
  height: 280px;
}

.result-text {
  font: 20px 'Poppins', Helvetica, Arial, sans-serif;
  color: white;
}

.entry-title,
.entry-time,
.entry-body {
  font-size: 3em;
  padding-bottom: 0.5em;
  color: black;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
  text-align: justify;
}

.btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fc9400;
  color: #fff;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

i {
  margin-left: 20px;
  font-size: 1.5rem;
}

.fa-arrow-right::before {
  /* padding-right: 20px; */
  content: '\279C';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 10px;
  color: #fff;
  z-index: 100;
}

.fa,
.fas {
  font-weight: 900;
}

.container__text__timing {
  display: flex;
  margin: 20px 0 10px;
}
.container__text__timing_time {
  margin-right: 40px;
}

h2 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #818189;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
}
p {
  color: black;
  font-size: 1.2rem;
  text-align: justify;
}

.time {
  color: #351897;
  font-weight: 600;
}

.button-add,
.btnEditOne,
.btnDeleteOne {
  display: flex;
  align-items: center;
  background-color: #fc9400;
  color: #fff;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
}

.button-add:hover,
.btnEditOne:hover,
.btnDeleteOne:hover,
.btn:hover,
.btnAddrecipeFromApi:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
}

.form-label {
  display: block;
  margin-bottom: 1em;
  font: 24px 'Roboto', Helvetica, Arial, sans-serif;
  color: #351897;
  font-weight: 400;
}

.login-input,
.email-input,
.password-input,
.title-input,
.image-input,
.body-textarea {
  width: 100%;
  display: block;
  outline: none;
  padding: 1em;
  margin-bottom: 2em;
  flex: 1 0 auto;
  border: 1px solid black;
  border-radius: 6px;
  text-indent: 10px;
  margin-top: 5px;
}

.login-input,
.email-input,
.password-input,
.title-input,
.image-input,
.body-textarea::placeholder {
  text-indent: 10px;
  font: 16px 'Roboto', Helvetica, Arial, sans-serif;
  opacity: 0.7;
  color: black;
}

.btnAuth,
.btnPublish {
  background: linear-gradient(
    hsl(186, 76%, 16%),
    hsl(223, 90%, 60%),
    hsl(240, 56%, 42%)
  );
  box-shadow: 0 0 20px 0 blue;
  font: 24px 'Roboto', Helvetica, Arial, sans-serif;
  color: white;
  padding: 1em;
  text-decoration: none;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  outline: none;
}

.btnPublish:hover,
.btnAuth:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.05);
}

/* LOGIN!!!!!!!!!!! */

#authSignInForm,
#authSignUpForm {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.email-input {
  margin-bottom: 10px;
  /* padding: 50px; */
}

.title-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-login h2 {
  margin-top: 5px;
  font: 28px 'Gloock', Arial, sans-serif;
  color: black;
  font-weight: 400;
}

/* */

.main-recipes,
.mainBoxRecipe {
  position: relative;
}

.mainBox,
.cardBox {
  position: absolute;
}

.recipe-card,
.card {
  width: 1100px;
  height: 600px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid black;
}

.recipeThumb,
.leftBoxRecipe {
  position: relative;
  height: 350px;
  box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
}

.imageBox,
.boxImage {
  width: 40%;
  height: 100%;
  border-right: 1px solid black;
}
.recipe-image,
.url-recipe {
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

.rigthBox,
.rigthBoxRecipe {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleBox,
.timeBox,
.nameBox,
.cookingTimeBox {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleBox p,
.nameBox p {
  font: 32px 'Roboto', Helvetica, Arial, sans-serif;
  color: #351897;
  font-weight: 600;
}

.timeBox p,
.clockBox {
  font: 28px 'Roboto', Helvetica, Arial, sans-serif;
  color: black;
  font-weight: 300;
}

.imageclock,
.imgClock {
  width: 50px;
  height: 50px;
}

.recipeContent,
.recipeSteps {
  border-top: 1px solid black;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
  background-color: white;
  display: flex;
  align-items: center;
}

.recipe-info,
.recipe-steps,
.body-textarea {
  font: 15px 'Roboto', Helvetica, Arial, sans-serif;
  color: black;
  justify-content: center;
}

.btnAddrecipeFromApi {
  position: absolute;
  bottom: -80px;
  right: 10px;
  left: 10px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fc9400;
  color: #fff;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

.button-back {
  position: absolute;
  top: 10px;
  bottom: 1px;
  right: 5px;
  left: 1050px;
  z-index: 10;
}

.close-btn {
  width: 30px;
  height: 30px;
}

.close-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btnBox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rigthBoxRecipe {
  position: relative;
}

.close-btn-one {
  position: absolute;
  top: 1px;
  right: -100px;
  width: 30px;
  height: 30px;
}

.close-btn-one:hover,
.like {
  opacity: 0.7;
  cursor: pointer;
}

.aforbtn {
  text-decoration: none;
}

.like {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  border: none;
  background-color: white;
}

.imageLike {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) and (max-width: 1400px) {
}

@media (max-width: 767px) {
  body {
    max-width: 767px;
    font: 10px 'Roboto', Helvetica, Arial, sans-serif;
  }

  .index-img {
    width: 250px;
    height: 250px;
  }

  .index-title {
    font: 14px 'Poppins', Helvetica, Arial, sans-serif;
  }

  .nav-link {
    font: 12px 'Roboto', Helvetica, Arial, sans-serif;
  }

  .index-info {
    font: 16px 'Roboto', Helvetica, Arial, sans-serif;
    text-align: justify;
  }

  .container-entries {
    flex-direction: column;
  }

  .button-search {
    font: 8px 'Roboto', Helvetica, Arial, sans-serif;
  }

  .img-entries {
    width: 110px;
    height: 110px;
  }

  .text-info,
  .time-title,
  .time {
    font: 8px 'Roboto', Helvetica, Arial, sans-serif;
  }

  .text-title {
    font: 8px 'Roboto', Helvetica, Arial, sans-serif;
  }

  .gif {
    visibility: hidden;
  }

  .imageLike {
    width: 15px;
    height: 15px;
  }

  .button-add,
  .btnEditOne,
  .btnDeleteOne,
  .btn {
    padding: 10px 25px;
    font-size: 0.5rem;
  }
}
